Django==5.0.2
psycopg2-binary==2.9.9
python-dotenv==1.0.1
django-tailwind==3.8.0
django-crispy-forms==2.1
crispy-tailwind==1.0.0
gunicorn==21.2.0
whitenoise==6.6.0
markdown==3.5.2
Pillow==10.2.0
django-storages==1.14.2
boto3==1.34.34
django-environ==0.11.2
django-cors-headers==4.3.1 